<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="tests">
	<test name="Test iOS">
		<parameter name="deviceID" value="0715F7752C4B3038" />
		<parameter name="appName" value="io.ionic.starter" />
		<parameter name="mobileOS" value="Android" />		
		<classes>
			<class name="com.IHG.tests.Scenario6" />
		</classes>
	</test> 
</suite> <!-- Suite -->
